<h1>
    Indio Picaro
</h1>
<form method="post">
  String 1: <input name="message1" maxlength="16" autofocus/>
  String 2: <input name="message2" maxlength="16"/>
  <br/><br/>
  <div>
    <input type="color" id="color" name="color" onchange="printColor(event)" value="#0400FF" />
    <label for="color">Color</label>
  </div>
  <br/><br/>
  <input type="submit" name="submit_button" value="Submit">
  <input type="submit" name="submit_button" value="Up">
  <input type="submit" name="submit_button" value="Down">
  <input type="submit" name="submit_button" value="Clock Mode">
</form>
